<div class="jumbotron bg-white">
    <h1 class="display-4">Hello, welcome to FOODJI!</h1>
    <p class="lead">
        Would you like to find your favorites foods in a Tinder way! Then, Let's select a Food type below.
    </p>
    <hr class="my-4">

    <app-card-container>
        <ng-container *ngFor="let cat of productCategories">
            <app-card [title]="cat.name" [image]="cat.image" (click)="selectCat(cat.name)"></app-card>
        </ng-container>
    </app-card-container>

</div>

<app-footer></app-footer>
