@import "../../../styles/sass-variables.scss";

.tinder-cover {
    position: relative;

    .tinder-cards {
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;

        top: calc(50% - #{$card_height_sm}/2);
        right: calc(50% + #{$card_width_sm}/2);
    }

    .control-btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;

        .nope {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;
            border-radius: 50%;
            color: $color_nope;
            margin: 3px;
        }

        .favorite {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;
            border-radius: 50%;
            color: $color_fav;
            margin: 3px;
        }

        .like {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            background-color: white;
            border-radius: 50%;
            color: $color_like;
            margin: 3px;
        }
    }

    .tinder-status {
        z-index: 2;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        pointer-events: none;


        i {
            opacity: 0;
            transform: scale(1.3);
            transition: all 0.2s ease-in-out;
            width: 20px;
            height: 20px;
            position: fixed;
            top: 50%;
            right: 50%;
            transform: translate3d(0, -300%, 0);
            animation-fill-mode: forwards;

            &.color-like {
                color: $color_like;
                opacity: 1;
                top: calc(50% + 50px);
                right: calc(50% + 4px);
                transform: translate3d(0, 0, 0) scale(1);
            }

            &.color-fav {
                color: $color_fav;
                opacity: 1;
                transform: scale(1);
                top: calc(50% + 50px);
                right: calc(50% + 7px);
                transform: translate3d(0, 0, 0) scale(1);
            }

            &.color-nope {
                color: $color_nope;
                opacity: 1;
                transform: scale(1);
                top: calc(50% + 50px);
                right: calc(50% - 4px);
                transform: translate3d(0, 0, 0) scale(1);
            }
        }
    }
}



@media all and (min-width: 768px) {
    .tinder-cover {

        .tinder-cards {
            top: calc(50% - #{$card_height_md}/2);
            right: calc(50% + #{$card_width_md}/2);
        }
    }
}
