.card:not(.tinder-card) {
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
    transition: all .3s ease-in-out;

    &:hover {
        box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
        transform: scale(1.05);
        cursor: pointer;
    }
}

.tinder-card {
    max-width: 260px;
    max-height: 320px;
    height: auto;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
