@import "../../../styles/sass-variables.scss";

$transition-time: .6s;
$transition-delay: .2s;
$transition-scale: scale(1.05);

.card:not(.tinder-card) {
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
    transition: all .3s ease-in-out;
    width: 100%;

    &:hover {
        box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
        transform: $transition-scale;
        cursor: pointer;
    }
}

.tinder-card {
    width: $card_width_sm;
    height: $card_height_sm;
    border-radius: 25px;
    overflow: hidden;
    position: absolute;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.flip-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
    position: relative;
    transition: $transition-time ease all;

    /* flip speed goes here */
    .flipper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: $transition-time;
        transform-style: preserve-3d;
        transition-delay: $transition-delay;
        // transform-origin: center right;
        cursor: pointer;
        z-index: 2;
    }

    // &:hover {
    //     transform: $transition-scale;
    //     z-index: 2;
    // }

    // &:hover .flipper {
    //     transform: rotateY(180deg);
    // }

    .flipper.flipped {
        transform: rotateY(180deg);
        z-index: 3;
    }

    /* hide back of pane during swap */
    .front,
    .back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;

        position: absolute;
        top: 0;
        left: 0;
    }

    /*  UPDATED! front pane, placed above back */
    .front {
        z-index: 2;
        // transform: rotateY(0deg);

        display: flex;
        align-items: center;
        position: relative;
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(-180deg);
        background-color: red;

        overflow-y: auto;

        outline: none;
        box-shadow: 0 0 2em #fff,
            0 1.25em 1.5em rgb(0 0 0 / 20%);
        background: transparent;

        &::-webkit-scrollbar {
            width: 0.4em;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 51, 141, 0.75);
            border-radius: 1px;
        }
    }
}

@media all and (min-width: 768px) {
    .tinder-card {
        width: $card_width_md;
        height: $card_height_md;
    }
}
