<ng-container *ngIf="isTinderMode; else cardView">
    <div class="card tinder-card" [@cardAnimator]="animationState" (@cardAnimator.done)="resetAnimationState($event)"
        (swipeleft)='startAnimation("swipeleft")' (swiperight)='startAnimation("swiperight")' [ngStyle]="{
                'z-index': (products.length - index + 1001),
                'transform': 'scale(' + (8 * products.length - (index)) / (8 * products.length) + ') translateY(-' + (.5 * products.length * index) + 'px)',
                'opacity': ((2*products.length) - index) / (2*products.length)
        }">

        <img [src]="product.imageSet[0].url" class="card-img-top p-2" alt="..." />
        <div class="card-body">
            <h6 *ngIf="product?.name" class="card-title text-center">{{product.name}}</h6>
        </div>

    </div>
</ng-container>

<ng-template #cardView>
    <div class="col h-100 p-5 p-sm-3 pb-5">
        <div class="flip-container h-100" (click)="!cat && flipCard()">
            <div class="flipper h-100" [ngClass]="{ 'flipped': !cat && product?.flipped }">

                <div class="h-100" *ngIf="cat; else productCard">
                    <div class="card h-100 p-2">
                        <img *ngIf="cat?.image" [src]="cat.image" class="card-img-top p-2" alt="..." />
                        <div class="card-body bg-white">
                            <h5 *ngIf="cat?.name" class="card-title text-center">{{cat.name}}</h5>
                        </div>
                    </div>
                </div>

                <ng-template #productCard>
                    <div class="card front h-100 p-2">
                        <img *ngIf="product?.imageSet[0]?.url" [src]="product.imageSet[0].url" class="card-img-top p-2"
                            alt="..." />
                        <div class="card-body bg-white">
                            <h5 *ngIf="product?.name" class="card-title text-center">{{product.name}}</h5>
                        </div>
                    </div>

                    <div class="card back h-100 p-2">
                        <div class="card-body d-flex align-items-end bg-white text-black-50">
                            <p *ngIf="product?.description" class="card-title text-center"
                                [innerHTML]="product.description | safeHtml">
                            </p>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</ng-template>
