<div class="container">
    <h1 class="text-center">Challenge Part II: RxJS (Simulation)</h1>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 text-center">
            <p>
                In this part, a polling mechanism is implemented by using RxJS. The mechanism retrieves the data every 1
                seconds.
                Only last cached data is sent to new subscribers and not execute a new request. It delivers new data to
                subscribers
                only if the data is different then the previous retrieval. Also, if an error occurs during retrieval,
                the system
                retries up to three times in every 5 seconds before throwing an error.
            </p>

            <p>
                Here, the responses of a server was simulated as a number array which is
                [1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 7, 7, 8, 8, 8].
                And, three subscribers was simulated to be subscribed to this polling. Subscription delays are 0, 3.4
                and 5.6 second respectively.
            </p>

            <div>


            </div>
        </div>
    </div>

    <div class="row pt-5">
        <!-- <div class="col-12">
        <span class="badge badge-success" *ngFor="let item of all">{{item}}</span>
    </div> -->

        <div class="col-4">
            <div class="row mb-1">
                <div class="col text-right">First:</div>
            </div>
            <div class="row mb-1">
                <div class="col text-right">Second:</div>
            </div>
            <div class="row mb-1">
                <div class="col text-right">Third:</div>
            </div>
        </div>

        <div class="col-8">
            <div class="row mb-1">
                <div class="col">
                    <span class="badge badge-success mr-1" *ngFor="let item of recent1">{{item}}</span>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col">
                    <span class="badge badge-success mr-1" *ngFor="let item of recent2">{{item}}</span>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col">
                    <span class="badge badge-success mr-1" *ngFor="let item of recent3">{{item}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-column justify-content-center align-items-center mt-3">
        <div class="col-12 col-md-10 col-lg-8 mt-2 d-flex flex-wrap">
            <button class="col btn btn-primary ml-2" (click)="start()">Start</button>
            <button class="col btn btn-info ml-2" (click)="stop()">Stop</button>
            <button class="col btn btn-danger ml-2" (click)="clear()">Clear</button>
        </div>

        <div class="col-12 col-md-10 col-lg-8 mt-2 d-flex flex-wrap">
            <button class="btn btn-success w-100 ml-2" routerLink="/rxjs">
                <i class="fas fa-sign-out-alt mr-2"></i> Try with exact server link
            </button>
        </div>
    </div>
</div>
